.container {
  width: 20%;
  height: 380px;
  margin: 18px;
  background-color: #f1bdbf;
}

.top {
  position: relative;
  height: 50%;
  display: flex;
  cursor: pointer;
}

.sale {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 25px;
  border-radius: 5px;
  background-color: #ea666c;
  color: white;
  right: -10px;
  top: -10px;
}

.imgContainer {
  font-size: 32px;
  font-weight: 300;
  color: gray;
}

.img {
  width: 100%;
  height: 200px;
  /* object-fit: contain; */
}

.bottom {
  height: 50%;
  padding: 30px;
  /* background-color: #888; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 20px;
  margin-bottom: 8px;
  color: white;
  font-weight: bold;
}

.prices {
  color: white;
  font-weight: bold;
}

.price {
  font-weight: 500;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
  color: #ea666c;
  background-color: #fff;
  outline: none;
  margin-top: 30px;
}
.button:hover {
  background-color: #ea666c;
  color: #fff;
}
