.container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 119, 0.224);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.wrapper {
  position: relative;
  width: 550px;
  max-height: 800px;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ea666c;
  color: #fff;
  border-radius: 50px;
  padding: 5px;
  z-index: 200;
}

.total {
  font-weight: bold;
}

.icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.label {
  font-size: 18px;
}

.input {
  padding: 10px 10px;
  font-size: 16px;
}

.button {
  margin-top: 25px;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
  background-color: #ea666c;
  color: #fff;
  outline: none;
}
.button:hover {
  background-color: #ea666d24;
  color: #ee8186;
}
