.container {
  background-color: #f1bdbf;
  height: calc(100vh - 100px);
  display: flex;
}

.left {
  flex: 1;
  /* background-color: red; */
}

.imgContainer {
  display: flex;
  align-items: flex-start;
  width: 80%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

.right {
  flex: 2;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.texts {
  /* background-color: antiquewhite; */
  width: calc(100% / 3);
  height: 85%;
  margin: 35px;
  color: #fff;
}

.h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 25px;
  color: #fff;
}

.textWrapper {
  margin-bottom: 15px;
}

.text {
  line-height: 1.6;
  font-weight: 500;
}
