.container {
  height: 650px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.imgContainer {
  position: relative;
  width: 65%;
  height: 80%;
  /* background-color: #888; */
}

.img {
  width: 100%;
  height: 100%;
}

.formContainer {
  position: absolute;
  width: 60%;
  height: 400px;
  background-color: #f2f2f2;
  display: flex;
}

.left {
  flex: 1;
  /* background-color: #666; */
  margin: 15px;
  display: flex;
  align-items: center;
}

.left .contentWrapper {
  width: 100%;
  height: 80%;
  /* background-color: #fff; */
}

.right .inputWrapper {
  height: 100%;
  width: 100%;
  /* background-color: #fff; */
}

.left .contentWrapper .title {
  margin-bottom: 20px;
  color: #4d4d4d;
  font-size: 36px;
}

.left .contentWrapper .texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 25px;
}

.left .contentWrapper .text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #808 080;
  font-size: 18px;
}

.link {
  color: #ea666c;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 2px solid #ea666c;
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.iconWrapper .icon {
  margin-right: 15px;
  font-size: 24px;
  transition: 0.2s;
}

.icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.right {
  flex: 1;
  /* background-color: #888; */
  margin: 15px;
  display: flex;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.input:first-child {
  margin-top: 20px;
}

.input,
.textarea {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 2px solid #111;
}

.button {
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  background-color: #ea666c;
  color: #fff;
  margin-left: 40px;
  margin-right: 40px;
}
.button:hover {
  color: #ee8186;
  background-color: #fff;
}
