.container {
  min-height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 90%;
  height: calc(100vh- 100px);
  display: flex;
}

.left {
  flex: 2;
  height: 100%;
  /* background-color: #777; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  position: sticky;
  top: 100px;
  margin-left: 25px;
  flex: 1;
  height: 100%;
  /* background-color: #888; */
  max-height: 400px;
}

.buttonWrapper {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.goBackButton {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #ee8186;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
  outline: none;
  display: flex;
  border: 1px solid #ee81869a;
}

.goBackButton:hover {
  background-color: #ea666c;
  color: #fff;
}

.tableWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  height: 100%;
}

.head,
.body {
  display: flex;
}

.head {
  align-items: center;
}

.column {
  flex: 1;
}

.tableHead {
  flex: 1;
  width: 100%;
  text-align: center;
  background-color: #f09196;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.tableHead .head {
  height: 100%;
  padding: 10px 0;
}

.tableBody {
  width: 100%;
  flex: 10;
  font-weight: 500;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tableBody .table {
  padding: 25px 0;
}
.tableBody .column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableBody .body {
  width: 100%;
  margin-bottom: 25px;
  transition: 0.1s;
  height: 120px;
}

.price {
  font-weight: bold;
}

.tableBody .body:nth-child(even) {
  background-color: #f0919623;
}

.tableBody .body:hover {
  cursor: pointer;
  background-color: #f0919675;
}

.delivery {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.delivery .img {
  width: 40px;
  height: 40px;
}

.done,
.inProgress,
.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  animation: inProgress 1s infinite alternate linear;
}

.inProgress .checkedIcon,
.undone .checkedIcon {
  opacity: 0;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  opacity: 0.3;
}

.checkedIcon {
  width: 20px;
  height: 20px;
}
.text {
  margin: 3px 0;
}

.orderButton {
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
  color: #fff;
  background-color: rgba(0, 128, 0, 0.795);
  outline: none;
  margin-top: 25px;
}

.orderButton:disabled {
  opacity: 0.9;
  pointer-events: none;
}

.totalWrapper {
  background-color: #f09196;
  padding: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.totalText {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 800;
}

.totalTextTitle {
  font-size: 24px;
  margin-right: 10px;
  font-weight: 600;
}

.imgContainer,
.img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
