.container {
  min-height: 500px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 80%;
  min-height: 500px;
  /* background-color: #777; */
  display: flex;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
