$background_color: #f0919623;
$background_color_hover: #f0919675;

.Container {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 20px;
  justify-content: center;

  h1 {
    font-size: 3.2rem;
    font-weight: bold;
  }
  .Products {
    display: flex;
    margin-bottom: 15px;
    height: 6rem;
    max-height: 6rem;
    align-items: center;
    justify-content: space-between;
  }
}

.TableHead {
  background-color: var(--pink_60);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .TableCell {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
  }
}

.TableBody {
  .TableRow:nth-child(even) {
    background-color: $background_color;
  }

  .TableRow:hover {
    background-color: $background_color_hover;
    cursor: pointer;
  }

  .TableCell {
    font-weight: 600;
    font-size: 1.6rem;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }

    &:last-child {
      font-weight: bold;
    }
  }
}
