.Paper {
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: var(--btnShadow-color);

  .ClearIcon {
    color: var(--error_dark);
  }
  .AcceptIcon {
    color: var(--correct);
  }
}
