:root {
  font-family: 'Nunito', sans-serif;

  --black: #000;
  --black_60: #707683;

  --white: #fff;

  --pink_light: #e79296;
  --pink_100: #ea666c;
  --pink_90: #d45f65;
  --pink_80: #b54e53;
  --pink_0: #f6e1e3;

  --error_dark: #ff0000;

  --btnShadow-color: 0px 4px 10px rgba(246, 224, 226, 0.519);

  --regular: 400;
  --medium: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-style: normal;
}
