.container {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 100;
}

a {
  text-decoration: none;
  color: black;
}

.avatarContainer {
  width: 40px;
  height: 40px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.item {
  display: flex;
  align-items: center;
}

.item:first-child {
  flex: 1;
  display: flex;
  align-items: center;
}

.item:nth-child(2) {
  flex: 2;
}

.item:last-child {
  flex: 1;
  justify-content: flex-end;
}

.ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.li {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
}

.li:hover {
  cursor: pointer;
  opacity: 0.6;
}

.img {
  width: 240px;
  height: 80px;
  margin: 0 20px;
}

.texts {
  margin-left: 10px;
}

.text:first-child {
  font-size: 14px;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.cart {
  margin-top: 8px;
  position: relative;
  cursor: pointer;
}

.cart:hover {
  opacity: 0.9;
}

.cartIcon {
  font-size: 35px;
}

.counter {
  position: absolute;
  top: -12px;
  right: -10px;
  background-color: gray;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-weight: 700;
}

.item:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 20px;
}

.listItem {
  width: 100%;
  background-color: #f1bdbf;
  color: #fff;
  gap: 15px;
}

.listItem .item {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.listItem .item:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f1bdbf;
}

.link {
  color: #fff;
  text-decoration: none;
}

.login {
  padding: 5px 10px;
  border: none;
  background-color: #f09196;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  border: 3px solid #fff;
  font-weight: bold;
}

.login:hover {
  border: 3px solid #f09196;
  background-color: #fff;
  color: #f09196;
  cursor: pointer;
  transition: 0.3s;
}

.register {
  border: none;
  padding: 5px 10px;
  border: 3px solid #fff;
  font-size: 18px;
  margin-right: -5px;
  background-color: transparent;
  font-weight: bold;
}

.register:hover {
  cursor: pointer;
  opacity: 0.9;
  border-bottom: 3px solid black;
  transition: 0.4s;
}
