.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pink_0);
}

.Container {
  width: 85rem;
  display: flex;
  background-color: var(--white);
  height: 60rem;
  border-radius: 8px;
  overflow: hidden;
}

.ImgContainer {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Texts {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    display: flex;
    max-height: 60rem;
    flex-direction: column;
    color: rgb(88, 83, 83);
    font-weight: 650;
    font-size: 1.8rem;
    pointer-events: none;
    gap: 5rem;

    h1 {
      color: var(--pink_100);
      font-weight: bold;
      font-size: 6rem;
      line-height: 8rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: bold;
    }

    p:nth-child(2) {
    }

    button {
      pointer-events: all;
      margin-top: 15px;
    }
  }
}

.Form {
  flex: 1;
  display: flex;
  align-items: center;

  .Texts {
    padding: 4.5rem;
    width: 100%;

    h2 {
      margin-bottom: 5rem;
      font-size: 4.5rem;
      font-weight: 700;
      color: var(--pink_100);
    }

    h3 {
      font-size: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 63.9375em) {
  .ImgContainer {
    .Texts {
      gap: 2rem;
      h1 {
        font-size: 4.5rem;
        line-height: 5rem;
      }
    }
  }
}