.Container {
  display: flex;
  width: 90%;
  height: 100%;

  .Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    img {
      min-width: 95%;
      min-height: 95%;
      object-fit: cover;
    }
  }

  .Right {
    display: flex;
    align-items: center;

    .Texts {
      width: 100%;
      height: 100%;
      padding: 50px;

      h1 {
        font-size: 4.3rem;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .Prices {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 20px;

        p {
          width: 6rem;
          height: 3rem;
          text-align: center;
          font-size: 1.8rem;
          background-color: var(--pink_100);
          color: var(--white);
          line-height: 30px;
          border-radius: 3px;
          margin-bottom: 5px;
        }

        .Price {
          font-weight: 300;
          margin-right: 10px;
          margin-left: 15px;
        }
      }

      & > p {
        color: #212529;
        font-size: 1.8rem;
        margin-bottom: 20px;
      }

      .Quantity {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .Numbers::-webkit-outer-spin-button,
        .Numbers::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .Numbers {
          width: 7rem;
          height: 4rem;
          text-align: center;
          outline: none;
          font-size: 1.6rem;
          border: none;
          border: 1px solid var(--black_20);
          background-color: transparent;
        }

        .AdjustQuantity {
          height: 4rem;
          width: 4rem;
          font-size: 2rem;
          background-color: transparent;
          border: 1px solid var(--black_20);
          outline: none;
        }

        p {
          color: var(--black_40);
          margin-left: 15px;
        }
      }

      .Types {
        margin-bottom: 25px;
        font-size: 1.8rem;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        .Extras {
          display: flex;
          align-items: center;
          margin-right: 5px;

          .Options {
            width: 2rem;
            height: 2rem;
            margin-right: 5px;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            border: 1px solid var(--black_40);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .Options:checked::before {
            background-color: var(--pink_100);
            width: 2rem;
            height: 2rem;
            font-size: 1.4rem;
            content: '\2713';
            text-align: center;
            color: var(--white);
            position: absolute;
          }
        }
      }
    }

    .Payment {
      display: flex;
      gap: 15px;
    }
  }
}

@media (max-width: 74.9375em) {
    .Payment {
      flex-direction: column;
    }
}