.container {
  min-height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 90%;
  height: calc(100vh- 100px);
  display: flex;
}

.left {
  flex: 2;
  height: 100%;
  /* background-color: #777; */
}

.right {
  flex: 1;
  height: 100%;
  max-height: 400px;
  margin-left: 25px;
}

.tableWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  height: 100%;
}

.head,
.body {
  display: flex;
}

.head {
  align-items: center;
}

.column {
  flex: 1;
}

.tableHead {
  flex: 1;
  width: 100%;
  text-align: center;
  background-color: #f09196;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.tableHead .head {
  height: 100%;
  padding: 10px 0;
}

.tableBody {
  width: 100%;
  flex: 10;
  font-weight: 500;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tableBody .table {
  padding: 25px 0;
}
.tableBody .column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableBody .body {
  width: 100%;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.1s;
}

.tableBody .body:nth-child(even) {
  background-color: #f0919623;
}

.tableBody .body:hover {
  background-color: #f0919675;
}

.imgContainer,
.img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.total {
  font-weight: bold;
}

.cartButton {
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
  color: #ee8186;
  background-color: #fff;
  outline: none;
}
.cartButton:hover {
  background-color: #ea666c;
  color: #fff;
}
